In [42]:
import pandas as pd

In [43]:
# Creating dataframe from the CSV file
df = pd.read_csv(r'C:\Users\HP\Desktop\Useful\Projects\DE\Influence on Stock Market\Relations-of-Various-Factors-with-American-Stock-Market\USA_GDP\GDP_data.csv',header=None)

In [44]:
# Creating new dataframe with the required columns and records
req_df = df.iloc[:2,4:].transpose()

In [45]:
# Renaming columns
req_df.rename(columns = {0:'Year',1:'USD'}, inplace=True)

# Cleaning the year column, has extra unnecessary information like [YR****]
req_df['Year'] = req_df['Year'].str[0:4]

# Convert datatype of USD from object(string) to int
req_df['USD'] = pd.to_numeric(req_df['USD'])

# Creating additional column to get normalized stock price (min-max scaling)
req_df['gdp_normalized'] = (req_df['USD']-req_df['USD'].min())/(req_df['USD'].max()-req_df['USD'].min())

In [46]:
# Saving the transformed datframe as CSV file
req_df.to_csv(r'C:\Users\HP\Desktop\Useful\Projects\DE\Influence on Stock Market\Relations-of-Various-Factors-with-American-Stock-Market\USA_GDP\tranformed_GDP_data.csv',index=False)

In [48]:
req_df.head()

   Year            USD  gdp_normalized
4  1990  5963144000000        0.000000
5  1991  6158129000000        0.009999
6  1992  6520327000000        0.028574
7  1993  6858559000000        0.045920
8  1994  7287236000000        0.067904