In [38]:
import pandas as pd

In [39]:
# Creating dataframe with CSV file
df = pd.read_csv(r'C:\Users\HP\Desktop\Useful\Projects\DE\Influence on Stock Market\Relations-of-Various-Factors-with-American-Stock-Market\USA_real_estate\Real_estate_data.csv')

In [40]:
# Creating new dataframe which contains only the values of 1st Jan of each year
req_df = df[df['DATE'].str.contains('01-01')]

In [41]:
# Taking only the year from the date column
req_df['DATE'] = req_df['DATE'].str[-4:]

# Creating additional column to get normalized stock price (min-max scaling)
req_df['aspus_normalized'] = (req_df['ASPUS']-req_df['ASPUS'].min())/(req_df['ASPUS'].max()-req_df['ASPUS'].min())

C:\Users\HP\AppData\Local\Temp\ipykernel_16544\192676159.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  req_df['DATE'] = req_df['DATE'].str[-4:]
C:\Users\HP\AppData\Local\Temp\ipykernel_16544\192676159.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  req_df['aspus_normalized'] = (req_df['ASPUS']-req_df['ASPUS'].min())/(req_df['ASPUS'].max()-req_df['ASPUS'].min())

In [42]:
# Saving the transformed datframe as CSV file
req_df.to_csv(r'C:\Users\HP\Desktop\Useful\Projects\DE\Influence on Stock Market\Relations-of-Various-Factors-with-American-Stock-Market\USA_real_estate\transformed_Real_estate_data.csv',index=False)

In [43]:
req_df.head()

    DATE   ASPUS  aspus_normalized
0   1990  149500          0.013528
4   1991  151100          0.017857
8   1992  144500          0.000000
12  1993  144700          0.000541
16  1994  153600          0.024621